
/* ############ 1. Global Styles ############ */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
 }
 
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
  }
 
  body > * {
    font-family: 'Fraunces', sans-serif;
    line-height: 1.4;
  }
 
  img {
    max-width: 100%;
    height: auto;
  }
 
  h1, h2, h3, h4 {
    font-family: 'Fraunces', sans-serif;
    line-height: 1;
  }
 
  h1 {
    font-size: 2.5rem;
  }
 
  h2 {
    font-size: 2rem;
  }
 
  h3 {
    font-size: 1.6rem;
  }
 
  h4 {
    font-size: 1.4rem;
  }
 
  p {
    line-height: 1.4;
  }
 
 a {
   color: floralwhite;
   text-decoration: none;
 }
 i {
   padding-left: .5rem;
 }
 .header {
    background: url(image/backgroun1.jpg) no-repeat center left;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: .25fr 1fr .25fr;
    grid-gap: 200px;
}

/* ############ 3. Navigation ############ */

.logo {
    max-width: 150px;
    max-height: 60px;
   }
  
  .navWrap {
    position: sticky;
    top: 0;
    z-index: 99;
    height: 48px;
    width: 100%;
    background-color: #eeefeb;
    border-bottom: 1px solid #e0e5eb;
    box-shadow: 0px 1px 8px #2b2021;
    padding: 0 1.5rem;
    align-items: center;
    display: grid;
    grid-template-columns: 100px minmax(auto, 1100px);
    justify-content: center;
    height: auto;
    border: solid 1px black;
  }
  nav {
    position: initial; 
    
  }
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul li a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    padding: .75rem 1rem;
    color: #000000;
    border-bottom: none;
    transition: 0.14s ease-in-out;
  }
  
  nav ul li a:hover {
    color: #ac8c91;
    background: transparent;
  }
  nav .btn {
    background: rgb(19,177,231);
    border-bottom: none;
    border-radius: 4px;    
    color: #fff;
    padding: 0.25rem 0.6rem;   
    display: flex;
    justify-content: center;
    margin: auto;
    width: auto;   
    letter-spacing: normal;
    text-shadow: none;
    box-shadow: none;
  }
  
  nav .btn:hover {
    background-color: #513b3c;
    box-shadow: inset 0 0 5px #655356;
    color: #fff;
  }
  .container {
    margin: 2rem;;
    padding:1rem;
    display: grid;
    grid-template-columns: 1fr 3fr; /* Cột menu chiếm 1 phần, cột nội dung chiếm 3 phần */
    grid-gap: 2rem; /* Khoảng cách giữa 2 cột */
  }
/*thanh menu product*/

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #eeefeb;
    border-bottom: 1px solid #e0e5eb;
    box-shadow: 0px 1px 8px #2b2021;
    padding: 0 1.5rem;
    align-items: center;
    height: 500px;
    width: 300px
    
}
.menu h2 {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;

}
.menu ul {
    width: 100%;
}
.menu ul li{
    list-style-type: none;
    width: 100%;
    height: 80px;
   font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* ############ 4. story ############ */
.story {
  padding: 1rem;
  margin: auto;
  max-width: 1200px;
  border: solid 1px #000000;
  width: 1200x;
}



.story article {
 
  margin: 2rem auto;
  max-width: 1000px; 
  width: 100%;
  display: flex;
  align-items: center;
 }

.story h1 {
  color: #070707;
  font-size: 4rem;
  font-weight: 500;
  margin: 0 1rem 0 0;
  width: 800px;
}


.story article p {
  border-left: solid 1px #dedede;
  padding-left: 1rem;
  margin: 0;
}



 

.storyList {
  text-align: center;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}



.storyList ul li {
  background-color: rgba(255,255,255,.9);
  border-radius: 6px;
  border: solid 1px #dedede;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 1.8rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(50px, 1fr) auto;
  text-align: center;
}

.storyList h3, .storyList img {
  grid-row: 1 / 2;
  grid-column: 1;
}
.storyList p {
  margin-top: 1rem;
  font-size: 20px;
}

.storyList h3 {
  background-color: rgba(255,255,255,.5);
  color: #655356;
  padding: .5rem;
  margin-bottom: 1rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(51,51,51,.7);
  align-self: end;
}

.story a {
margin-left: 6.5rem;
  border-radius: 3px;
  background-color: #655356;
  color: #fff;
  height: 2rem;
  margin-top: 1rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.story a:hover {
  background-color: #333;
}



/* footer */
footer {
  height: 800px;
  margin-top: 3rem;
  display : flex;
  background: #eeefeb;
}
section  {
  border: 1px solid black;
}
.form {
  flex-basis: 50%;
}
.social {
  flex-basis: 50%;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem
}
#name {
  margin-top: 1.5rem;
}
.form input {
  width: 80%;
  height: 50px;
}
.form textarea {
  width: 80%;
  height: 50px;
}

footer h2 {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
footer h3 {
  text-align: center;
  font-size: 14px;
  font-style: itaclic;

}

.submit-btn {
  display: block;
  width: 80%; /* Đặt chiều rộng bằng 100% của form-group */
  height: 50px;
  background-color: white;
  color: #655356;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1.5rem; /* Giữ khoảng cách giữa textarea và button */
  border: solid 1px;
}

.submit-btn:hover {
  background-color: #655356;
  color: #fff; /* Thay đổi màu chữ khi hover */
}
.googlemaps-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px; /* Điều chỉnh chiều cao theo ý muốn */
}

.googlemaps-container iframe {
  width: 100%;
  height: 100%;
}
.socialIcons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.socialIcons a {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.socialIcons img {
  width: 100%;
  height: 100%;
}


/* social */



 
 

